__pycache__/GPIO.cpython-311.pyc
__pycache__/ILI9341.cpython-311.pyc
test.py
test2.py
__pycache__/BLE_Device.cpython-311.pyc
__pycache__/data_parsers.cpython-311.pyc
__pycache__/datatypes.cpython-311.pyc
__pycache__/screen.cpython-311.pyc
__pycache__/TCX.cpython-311.pyc
__pycache__/workouts.cpython-311.pyc










_

app.log
